body {
  background-color: black;
  max-width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  position: fixed;
  width: 80%;
  z-index: 100;
  top: 0;
  background-color: black;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
  color: white;
  font-size: 20px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.creatorname {
  margin-right: auto;
}
.CVdownload {
  width: 150px;
  height: 50px;
  background-color: #fd6f00;
  color: white;
  font-size: 20px;
}
.git {
  width: 35px;
}
.creator-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.leftside {
  color: white;
  max-width: 50%;
}
.leftside button {
  width: 200px;
  height: 50px;
  background-color: #fd6f00;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
}
.greeting {
  font-weight: 500;
  font-size: 25px;
}
.myself {
  font-size: 30px;
  font-weight: 800;
  margin: 10px 0 0;
  color: #fd6f00;
}
.hero-title {
  font-size: 70px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 1px;
}
.hero-title span {
  margin-left: 170px;
  display: inline-block;
}
.leftside p {
  margin-top: 20px;
  font-size: 15px;
  max-width: 520px;
  line-height: 1.5;
}
.rightside {
  max-width: 35%;
}
.slider {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 30px;
}
.slide.active {
  opacity: 1;
}

.social_media {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 30px;
}
.myphotoconteiner {
  width: 40%;
  height: 500px;
}
#about {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
#about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-me {
  margin: 0 auto;
  color: white;
  max-width: 50%;
}
.skillset {
  font-size: 15px;
}
.title {
  font-size: 40px;
  font-weight: 800;
}
.skill {
  padding-top: 15px;
}
.skill span {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.progress_bar {
  margin-top: 30px;
}

.progress {
  width: 100%;
  height: 8px;
  background: white;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
}

.progress-bar {
  height: 100%;
  width: 0;
  background: orange;
  transition: width 3s ease;
  position: relative;
  border-radius: 10px;
}

.progress-bar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 14px;
  height: 14px;
  background: #fff;
  border: 3px solid #f4a261;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
