body {
  background-color: rgb(30, 30, 30);
  max-width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header {
  position: fixed;
  width: 80%;
  top: 0;
  background-color: rgb(30, 30, 30);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
  color: white;
  font-size: 20px;
  position: relative;
}
.navigation {
  display: flex;
  gap: 20px;
}
.creatorname {
  margin-right: auto;
}
.CVdownload {
  width: 150px;
  height: 50px;
  background-color: #fd6f00;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  transform: translateY(-10px);
}
.burger span {
  height: 5px;
  background-color: white;
  margin: 4px 0;
  width: 25px;
}
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.git {
  width: 35px;
}
.creator-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.leftside {
  color: white;
  max-width: 50%;
}
.leftside button {
  width: 200px;
  height: 50px;
  background-color: #fd6f00;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
}
.greetings {
  font-weight: 500;
  font-size: 25px;
}
.myself {
  font-size: 30px;
  font-weight: 800;
  margin: 10px 0 0;
  color: #fd6f00;
}
.hero-title {
  font-size: 70px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 1px;
}
.hero-title span {
  margin-left: 170px;
  display: inline-block;
}
.leftside p {
  margin-top: 20px;
  font-size: 15px;
  max-width: 520px;
  line-height: 1.5;
}
.rightside {
  max-width: 35%;
}
.slider {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 30px;
}
.slide.active {
  opacity: 1;
}

.social_media {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 30px;
}
.myphotoconteiner {
  width: 40%;
  height: 500px;
}
#about {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
#about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-me {
  margin: 0 auto;
  color: white;
  max-width: 50%;
}
.skillset {
  font-size: 15px;
}
.title {
  font-size: 40px;
  font-weight: 800;
}
.skill {
  padding-top: 15px;
}
.skill span {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.progress_bar {
  margin-top: 30px;
}

.progress {
  width: 100%;
  height: 8px;
  background: white;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
}

.progress-bar {
  height: 100%;
  width: 0;
  background: #fd6f00;
  transition: width 3s ease;
  position: relative;
  border-radius: 10px;
}

.progress-bar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 14px;
  height: 14px;
  background: #fff;
  border: 3px solid #fd6f00;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#Services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.box {
  max-width: 280px;
  background-color: white;
  padding: 40px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box:hover {
  transition: 2s ease;
  transform: scale(1.2);
  border: 10px solid rgb(51, 33, 51);
}
.logos {
  width: 70px;
}
.project-card {
  transition: all 0.4s ease;
}

.project-card.hide {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  position: absolute;
}
.filter-btn .active {
  background-color: #fd6f00;
}
.filter-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 100px 0 0;
  flex-wrap: wrap;
}
.filter-btn {
  font-size: 20px;
  color: #110101;
  border-radius: 10px;
  padding: 3px;
}
.filter-btn :hover {
  border-color: #110101;
  color: #fd6f00;
}
.filter-btn.active {
  background-color: #fd6f00;
}
.web-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px auto auto;
  flex-wrap: wrap;
}
.projectbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 280px;
  border-radius: 20px;
}
.projectbox img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}
.projectbox p {
  color: white;
  font-weight: 600;
}
.projectbox span {
  color: #fd6f00;
}

#Testimonials {
  color: black;
}
.active-box {
  display: flex;
  justify-content: space-around;
}
.test-words {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}
.testimonial.active {
  display: block;
}
.testimonial {
  display: none;
}

.slidebox {
  margin: 50px auto;
  background-color: white;
  display: flex;
  max-width: 70%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  max-height: 700px;
}
.slidebox img {
  width: 220px;
  padding: 20px;
}
.testimonial-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}
.orange {
  color: #fd6f00;
  font-size: 30px;
  font-weight: 700;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dot {
  display: inline-block;
  height: 10px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 30px;
  cursor: pointer;
  margin: 0 4px;
}
.dot.active {
  background-color: #fd6f00;
  width: 30px;
}
.upperpart {
  display: flex;
  gap: 10px;
  margin: 50px auto auto;
  align-items: center;
  justify-content: center;
}
.field {
  position: relative;
  margin-bottom: 18px;
}
#message {
  width: 700px;
  height: 100px;
}

input,
textarea {
  padding: 14px;
  border-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
  font-size: 16px;
}
.lowwerpart {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input.error-border,
textarea.error-border {
  border-color: #ff4d4d;
}

input.success-border,
textarea.success-border {
  border-color: #4caf50;
}

.error {
  color: #ff4d4d;
  font-size: 13px;
  margin-top: 4px;
  display: block;
}
#contact-form button {
  background-color: #fd6f00;
  width: 230px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
.responsimp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footernav {
  color: white;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

  align-items: center;
  margin: 200px auto auto;
}

.responsimp nav {
  display: flex;
  gap: 20px;
  font-size: 17px;
  font-weight: 500;
}
.medialiks {
  margin: 40px auto;
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}
.lastline {
  width: 100%;
  background-color: black;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
