body {
  background-color: black;
  max-width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  position: fixed;
  width: 80%;
  z-index: 100;
  top: 0;
  background-color: black;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
  color: white;
  font-size: 20px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.creatorname {
  margin-right: auto;
}
.CVdownload {
  width: 150px;
  height: 50px;
  background-color: #fd6f00;
  color: white;
  font-size: 20px;
}
